<template lang='pug'>
  div
    .main-wrapper
      .filters
        filters(v-for="(_, filter) in $store.state.checkedFilters" :filterKey="filter")
      .products
        product(v-for="p in products" :productData="p" :key="p.sku")
        h1(v-if="!products.length && $store.state.productsData.length") No products found
        <!-- Spacers for flexbox -->
        div.spacer
        div.spacer
        div.spacer
        div.spacer

</template>

<script>
export default {
  created() {
    this.$store.dispatch('fetchProducts')
  },
  computed: {
    /**
       * Filter through provided products
       * to show only those that match a currently active filter
       * @return {array}
       */
    products() {
      const checkedFilters = this.$store.state.checkedFilters

      //Find all filters that have something selected
      const activeFilters = Object.keys(checkedFilters)
        .filter(filter => checkedFilters[filter].length > 0)

      return this.$store.state.productsData.filter((product) => {

        const unmatchedFilter = activeFilters.find(filterName => {
          //Product properties can be strings ('brand') or arrays ('promotions').
          //Normalize the current product's property into an array to simplify matching
          const productProps = Array.isArray(product[filterName]) ? product[filterName] : [product[filterName]]

          //Match with "OR" logic - once we find one of the values on the product that matches an active filter,
          //stop searching for other active filters
          const match = productProps.find(productProp => checkedFilters[filterName].includes(productProp))

          //We are looking for filters that don't match, so return 'true' if there was no match
          return !match
        })

        //This product matches against all active filters, so show it on the page.
        return !unmatchedFilter
      })
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "../../scss/base";

  .main-wrapper {
    display: flex;
    flex-direction: row;
  }

  .filters {
    width: 230px;
  }

  .spacer {
    width:200px
  }

  .products {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media (max-width: $tablet) {
    .main-wrapper {
      flex-direction: column;
    }
    .filters {
      width: 100%;
    }
  }

</style>
